{% extends 'base.html' %} {% block content %} {% load static %}
<div class="row">
  <div class="col-12">
    <div class="d-flex align-items-center gap-4 mb-4">
      <div class="position-relative">
        <div class="border border-2 border-primary rounded-circle">
          <img
            src="{% static 'assets/images/profile/user-8.jpg' %}"
            class="rounded-circle m-1"
            alt="user1"
            width="60"
          />
        </div>
      </div>
      <div>
        <h3 class="fw-semibold">Assalamu'alaikum ...</h3>
        <span>J10200245 Jenaira Adiba Jasmine</span>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
